.main__rows{
    width: 176px;
height: 302px;
border:2px solid black;
margin:0 10px;

}


.row-poster{
height: 235px;
width: 176px;
object-fit: cover;
transition: transform 450ms;
}
.row-poster:hover{
    transform: scale(1.08);
}
