
.details-top{
    width: 100%;
}
.genres{
    display: flex;
    margin-top: -30px;
}
.rating{
    color: #FFC907;

}
.audio{
    display: block;
    row-gap: 10px;
}
.audio-style{
    color: #E43109;
    
}
.gen{
    color: #ff2e00;
    
}
.overview-details img{
    width:55px;
    height:27px;
    }
